<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-2g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "about" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-5g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "blog" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__MilkyWay_paralax-1g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "current_clients" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-4g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "products" %>
</div>
<%= partial "parallax", locals: {image_name: 'Sam&Savvy_01b.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "team" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-1g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "team2" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-3g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "contact" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__GbgTrainStation-20160309-8g.jpg'} %>
