<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-2g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "services" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__SavvySoftWorks_Parallax-5g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "products" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__MilkyWay_paralax-1g.jpg'} %>
<div class="has-shadow row col s12">
  <%= partial "open_source" %>
</div>
<%= partial "parallax", locals: {image_name: 'web__GbgTrainStation-20160309-8g.jpg'} %>
